header
  h1.header-logo: a(href="#home")
    img(src="logo-allin1.svg", alt="All in 1 Guesthouse")
    p= __('baseline')
  .sticky-wrapper: nav.bg-header-sticky
    ul.header-nav
      li: a(href="#home") #{__('home')}
      li: a(href="#rooms") #{__('rooms')}
      li: a(href="#services") #{__('services')}
      li: a(href="#contact") #{__('contact')}
