header#header
  h1.header-logo: a(href="#home")
    img(src="logo-allin1.svg", alt="All in 1 Guesthouse")
    p.header-baseline!= __('baseline')
  button.header-toggle-menu.js-toggle-menu menu
  .sticky-wrapper.header-nav-out.js-menu: nav.bg-header-sticky.header-nav
    ul.header-nav-in
      //- li: a(href="#home") #{__('home')}
      li: a(href="#rooms") #{__('rooms-title')}
      li: a(href="#services") #{__('services-title')}
      li: a(href="#contact") #{__('contact')}
      li.lang
        .header-lang
          if getLocale() === 'fr'
            a(href="/?lang=en")
              +icon('flag-en')
          else
            a(href="/?lang=fr")
              +icon('flag-fr')
