section#contact: .section-in
  h1.u-title= __('contact-title')

  p= __('contact-pres')

  dl.contact-item
    dt= __('contact-adress')
    dd
      | 31/1 Moonmuang Road, Soi 1-2 <br>
      | T. Phrasingh, A. Muang <br>
      | Chiang mai 50200, Thailand

  dl.contact-item
    dt= __('contact-phone')
    dd + 66 (0)53 207133
    dt= __('contact-mobile')
    dd + 66 (0)87 0783435

  dl.contact-item
    dt= __('contact-email')
    dd: a(href="mailto:zinegilou@hotmail.com&cc=zinegilou85@gmail.com") zinegilou@hotmail.com
    dt= __('contact-card')
