section#presentation: .section-in

  ul.carrousel.carrousel-1.u-full
    li.carrousel-item: img(src="home-1.jpg", srcset="home-1.jpg 1x, home-1@2x.jpg 2x"
      width="960", height="320", alt=__("presentation-image-1"))
    li.carrousel-item: img(src="home-2.jpg", srcset="home-2.jpg 1x, home-2@2x.jpg 2x"
      width="960", height="320", alt=__("presentation-image-2"))

  p= __('presentation-0')
  p= __('presentation-1')
  p= __('presentation-9')

  .tripadvisor
    a.tripadvisor-hall(href="http://www.tripadvisor.com.au/Hotel_Review-g293917-d645094-Reviews-All_in_1_Guesthouse-Chiang_Mai.html")
      img(src="http://www.tripadvisor.com.au/pdfs/t4b/coe/CoE_2015_HoF_UK.jpg")

    //- ul
    //-   li.
    //-     <div id="TA_certificateOfExcellence187" class="TA_certificateOfExcellence">
    //-     <ul id="E0xtzDZbxi7T" class="TA_links nOqek9a">
    //-     <li id="2VsxqT2r" class="F63Rw7E5yl">
    //-     <a target="_blank" href="http://www.tripadvisor.com.au/Hotel_Review-g293917-d645094-Reviews-All_in_1_Guesthouse-Chiang_Mai.html"><img src="http://www.tripadvisor.com.au/img/cdsi/img2/awards/CoE2015_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
    //-     </li>
    //-     </ul>
    //-     </div>
    //-     <script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=187&amp;locationId=645094&amp;lang=en_AU&amp;year=2015&amp;display_version=2"></script>
    //-   li.
    //-     <div id="TA_certificateOfExcellence834" class="TA_certificateOfExcellence">
    //-     <ul id="08rV0o" class="TA_links 2l8ougto">
    //-     <li id="ki4ypJA" class="uAk7ix">
    //-     <a target="_blank" href="http://www.tripadvisor.com.au"><img src="http://www.tripadvisor.com.au/img/cdsi/img2/awards/CoE2014_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
    //-     </li>
    //-     </ul>
    //-     </div>
    //-     <script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=834&amp;locationId=645094&amp;lang=en_AU&amp;year=2014&amp;display_version=2"></script>
    //-   li.
    //-     <div id="TA_certificateOfExcellence782" class="TA_certificateOfExcellence">
    //-     <ul id="WzEtBw" class="TA_links hp5WSrSY">
    //-     <li id="SYqjhPjist" class="WkJcrx">
    //-     <a target="_blank" href="http://www.tripadvisor.com.au"><img src="http://www.tripadvisor.com.au/img/cdsi/img2/awards/CoE2014_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
    //-     </li>
    //-     </ul>
    //-     </div>
    //-     <script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=782&amp;locationId=645094&amp;lang=en_AU&amp;year=2013&amp;display_version=2"></script>
    //-   li.
    //-     <div id="TA_certificateOfExcellence473" class="TA_certificateOfExcellence">
    //-     <ul id="y9bfp1x4y" class="TA_links SnYGtb0HvA8">
    //-     <li id="CMpKT9A6iSCr" class="B6nt60Pp8z">
    //-     <a target="_blank" href="http://www.tripadvisor.com.au"><img src="http://www.tripadvisor.com.au/img/cdsi/img2/awards/CoE2014_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
    //-     </li>
    //-     </ul>
    //-     </div>
    //-     <script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=473&amp;locationId=645094&amp;lang=en_AU&amp;year=2012&amp;display_version=2"></script>
    //-   li.
    //-     <div id="TA_certificateOfExcellence513" class="TA_certificateOfExcellence">
    //-     <ul id="Kmy9flr" class="TA_links mrgcBE">
    //-     <li id="eaSSgprnJI" class="vvvTCy">
    //-     <a target="_blank" href="http://www.tripadvisor.com.au"><img src="http://www.tripadvisor.com.au/img/cdsi/img2/awards/CoE2014_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
    //-     </li>
    //-     </ul>
    //-     </div>
    //-     <script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=513&amp;locationId=645094&amp;lang=en_AU&amp;year=2011&amp;display_version=2"></script>
