section#presentation: .section-in

  ul.carrousel.carrousel-1.u-full
    each val in [1, 2, 3, 4]
      li.carrousel-item: img(
        src="home-#{val}.jpg",
        srcset="home-#{val}.jpg 1x, home-#{val}@2x.jpg 2x"
        width="960",
        height="320",
        alt=__("presentation-image-" + val))

  p= __('presentation-0')
  p= __('presentation-1')
  p= __('presentation-9')

  .tripadvisor
    a.tripadvisor-hall(href="http://www.tripadvisor.com.au/Hotel_Review-g293917-d645094-Reviews-All_in_1_Guesthouse-Chiang_Mai.html")
      img(src="http://www.tripadvisor.com.au/pdfs/t4b/coe/CoE_2015_HoF_UK.jpg")
