section#presentation: .section-in

  ul.carrousel.carrousel-1.u-full
    li.carrousel-item: img(src="home-1.jpg", srcset="home-1.jpg 1x, home-1@2x.jpg 2x"
      width="960", height="320", alt=__("presentation-image-1"))
    li.carrousel-item: img(src="home-2.jpg", srcset="home-2.jpg 1x, home-2@2x.jpg 2x"
      width="960", height="320", alt=__("presentation-image-2"))

  p= __('presentation-0')
  p= __('presentation-1')
  p= __('presentation-9')

  .tripadvisor
    a.tripadvisor-hall(href="http://www.tripadvisor.com.au/Hotel_Review-g293917-d645094-Reviews-All_in_1_Guesthouse-Chiang_Mai.html")
      img(src="http://www.tripadvisor.com.au/pdfs/t4b/coe/CoE_2015_HoF_UK.jpg")
