section#rooms: .section-in
  h1.u-title= __('rooms-title')
  //-  20 rooms on offer, all equipped
  p!= __('rooms-desc')

  .rooms-images
    img(src="room-double.jpg")
    img(src="room-twin.jpg")

  .rooms-description
    dl
      dt= __('rooms-beds')
      dd!= __('rooms-beds-desc')
    dl
      dt= __('rooms-bathroom')
      dd!= __('rooms-bathroom-desc')
    dl
      dt= __('rooms-ac')
      dd!= __('rooms-ac-desc')
    dl
      dt= __('rooms-wifi')
      dd!= __('rooms-wifi-desc')
    dl
      dt= __('rooms-tv')
      dd!= __('rooms-tv-desc')
    dl
      dt= __('rooms-fridge')
      dd!= __('rooms-fridge-desc')
    dl
      dt= __('rooms-service')
      dd!= __('rooms-service-desc')

  .rooms-price
    .rooms-price-in
      h2
        | #{__('rooms-rates')}
        | 2015
      //- p: small (According to the season and the length of stay)
      table
        thead
          tr
            th= __('rooms-season-low')
            th= __('rooms-season-high')
        tbody
          tr
            td
              strong 650
              |  baht
            td
              strong 799
              |  baht
      p: small Monthly rates available during low season
    .rooms-price-in
      h2!= __('rooms-booking')
      p: a.btn(href="#contact")= __('rooms-contact')
