section#rooms: .section-in
  h1.u-title= __('rooms-title')
  p!= __('rooms-desc')

  ul.carrousel.carrousel-2.js-slide-carrousel.u-full
    each val in [1, 2, 3, 4]
      li.carrousel-item: img(
        src="room-#{val}.jpg",
        srcset="room-#{val}.jpg 1x, room-#{val}@2x.jpg 2x",
        width=480,
        height=320,
        alt=__("rooms-image-" + val))

  .rooms-description
    dl
      dt= __('rooms-beds')
      dd!= __('rooms-beds-desc')
    dl
      dt= __('rooms-bathroom')
      dd!= __('rooms-bathroom-desc')
    dl
      dt= __('rooms-ac')
      dd!= __('rooms-ac-desc')
    dl
      dt= __('rooms-wifi')
      dd!= __('rooms-wifi-desc')
    dl
      dt= __('rooms-tv')
      dd!= __('rooms-tv-desc')
    dl
      dt= __('rooms-fridge')
      dd!= __('rooms-fridge-desc')
    dl
      dt= __('rooms-service')
      dd!= __('rooms-service-desc')

  .rooms-price
    .rooms-price-in
      h2
        | #{__('rooms-rates')}
        | 2015
      table
        thead
          tr
            th= __('rooms-season-low')
            th= __('rooms-season-high')
        tbody
          tr
            td
              strong 740
              |  baht
              small
                strong ± 18
                |  euros
            td
              strong 840
              |  baht
              small
                strong ± 20
                |  euros
      p: small= __('rooms-monthly-rates')
    .rooms-price-in
      h2!= __('rooms-booking')
      p: a.btn(href="#contact")= __('rooms-contact')
