section#rooms: .section-in
  h1.u-title= __('rooms-title')
  p!= __('rooms-desc')

  ul.carrousel.carrousel-2.js-slide-carrousel.u-full
    li.carrousel-item: img(src="room-3.jpg", srcset="room-3.jpg 1x, room-3@2x.jpg 2x",
      width=480, height=320, alt=__("rooms-image-3"))
    li.carrousel-item: img(src="room-4.jpg", srcset="room-4.jpg 1x, room-4@2x.jpg 2x",
      width=480, height=320, alt=__("rooms-image-4"))
    li.carrousel-item: img(src="room-1.jpg", srcset="room-1.jpg 1x, room-1@2x.jpg 2x",
      width=480, height=320, alt=__("rooms-image-1"))
    li.carrousel-item: img(src="room-2.jpg", srcset="room-2.jpg 1x, room-2@2x.jpg 2x",
      width=480, height=320, alt=__("rooms-image-2"))

  .rooms-description
    dl
      dt= __('rooms-beds')
      dd!= __('rooms-beds-desc')
    dl
      dt= __('rooms-bathroom')
      dd!= __('rooms-bathroom-desc')
    dl
      dt= __('rooms-ac')
      dd!= __('rooms-ac-desc')
    dl
      dt= __('rooms-wifi')
      dd!= __('rooms-wifi-desc')
    dl
      dt= __('rooms-tv')
      dd!= __('rooms-tv-desc')
    dl
      dt= __('rooms-fridge')
      dd!= __('rooms-fridge-desc')
    dl
      dt= __('rooms-service')
      dd!= __('rooms-service-desc')

  .rooms-price
    .rooms-price-in
      h2
        | #{__('rooms-rates')}
        | 2015
      table
        thead
          tr
            th= __('rooms-season-low')
            th= __('rooms-season-high')
        tbody
          tr
            td
              strong 679
              |  baht
            td
              strong 799
              |  baht
      p: small= __('rooms-monthly-rates')
    .rooms-price-in
      h2!= __('rooms-booking')
      p: a.btn(href="#contact")= __('rooms-contact')
