section#services: .section-in
  h1.u-title= __('services-title')
  ul.services-list
    li.services-item
      i: +icon('coffee')
      span= __('services-breakfast')
    li.services-item
      i: +icon('beer')
      span= __('services-bar')
    li.services-item
      i: +icon('wifi')
      span= __('services-wifi')
    li.services-item
      i: +icon('massage')
      span= __('services-massage')
    li.services-item
      i: +icon('laundry')
      span= __('services-laundry')
    li.services-item
      i: +icon('motorcycle')
      span= __('services-motorcycle')

  h2.u-title= __('services-activities')
  ul.activities-list
    li: span= __('services-activities-1')
    li: span= __('services-activities-2')
    li: span= __('services-activities-3')
    li: span= __('services-activities-4')
  p= __('services-informations')

  ul.carrousel.carrousel-2.js-slide-carrousel.u-full
      li.carrousel-item: img(src="activity-1.jpg", srcset="activity-1.jpg 1x, activity-1@2x.jpg 2x",
        width=480, height=320, alt=__("activity-image-1"))
      li.carrousel-item: img(src="activity-2.jpg", srcset="activity-2.jpg 1x, activity-2@2x.jpg 2x",
        width=480, height=320, alt=__("activity-image-2"))
      li.carrousel-item: img(src="activity-3.jpg", srcset="activity-3.jpg 1x, activity-3@2x.jpg 2x",
        height=320, alt=__("activity-image-3"))
      li.carrousel-item: img(src="activity-4.jpg", srcset="activity-4.jpg 1x, activity-4@2x.jpg 2x",
        height=320, alt=__("activity-image-4"))
