section#services: .section-in
  h1.u-title= __('services-title')
  ul.services-list
    li.services-item
      i: +icon('coffee')
      span= __('services-breakfast')
    li.services-item
      i: +icon('beer')
      span= __('services-bar')
    li.services-item
      i: +icon('wifi')
      span= __('services-wifi')
    li.services-item
      i: +icon('massage')
      span= __('services-massage')
    li.services-item
      i: +icon('laundry')
      span= __('services-laundry')
    li.services-item
      i: +icon('motorcycle')
      span= __('services-motorcycle')

  h2.u-title= __('services-activities')
  ul.activities-list
    li: span journée visite hors des sentiers battus
    li: span treks de 1, 2 ou 3 jours
    li: span sorties avec les éléphants en petite structure famili: spanale
    li: span tyroliennes, rafting en canoë,  cours de cuisine, sorties vtt, rafting, excursion au triangle d'or, au Doi Inthanon, visites en scooter ou en taxi et conseils de visites des temples, du Doi Suthep, des sources d'eau chaude, etc.
  p Tous les renseignements et tarifs vous seront fournis sur place.
