section#services: .section-in
  h1.u-title= __('services-title')
  ul.services-list
    li.services-item
      i: +icon('coffee')
      span= __('services-breakfast')
    li.services-item
      i: +icon('beer')
      span= __('services-bar')
    li.services-item
      i: +icon('wifi')
      span= __('services-wifi')
    li.services-item
      i: +icon('massage')
      span= __('services-massage')
    li.services-item
      i: +icon('laundry')
      span= __('services-laundry')
    li.services-item
      i: +icon('motorcycle')
      span= __('services-motorcycle')

  h2.u-title= __('services-activities')
  ul.activities-list
    li: span= __('services-activities-1')
    li: span= __('services-activities-2')
    li: span= __('services-activities-3')
    li: span= __('services-activities-4')
  p= __('services-informations')
